DesafioBackCodgoX.Api/bin
DesafioBackCodgoX.Api/obj

DesafioBackCodgoX.Application/bin
DesafioBackCodgoX.Application/obj

DesafioBackCodgoX.Domain/bin
DesafioBackCodgoX.Domain/obj

DesafioBackCodgoX.Infrastructure/bin
DesafioBackCodgoX.Infrastructure/obj